@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

.card {
  background-color: #ffffff;
  border-radius: 50px;
  color: #6f707d;
  font-family: "Marcellus", serif;
}


.temp {
  place-items: center;
}

.temp-details > p > span,
.grey {
  color: #a3acc1;
  font-size: 12px;
}

.fa {
  color: #a5a5b1;
}

*:focus {
  outline: none;
}
